In [11]:
import numpy as np
import pandas as pd
import statistics
%matplotlib inline

In [12]:
#Create an empty dataset and then add values
brady = pd.DataFrame()
brady['Name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Cousin Oliver']
brady['Age'] = [14, 12, 11, 10, 8, 6, 8]

brady

            Name  Age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    6
6  Cousin Oliver    8

In [13]:
#Determine the mean age
np.mean(brady['Age'])

9.857142857142858

In [14]:
#Determine the median age
np.median(brady['Age'])

10.0

In [15]:
#Determine the mode age
statistics.mode(brady['Age'])

8

In [16]:
#Determine the variance
np.var(brady.Age)

6.408163265306122

In [17]:
#Determine the standard deviation
np.std(brady['Age'])

2.531435020952764

In [18]:
#Determine the standard error
np.std(brady['Age']) / np.sqrt(len(brady['Age']))

0.9567925036515135

For central tendency, I would choose to use the mean because all of the ages are within a close range without any outliers. I would choose standard error as variance because it emphasizes our high degree of confidence in the mean.

In [19]:
brady.iat[5,1] = 7
brady

            Name  Age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    7
6  Cousin Oliver    8

In [20]:
brady.describe()

             Age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [33]:
print('The mean is ' + str(np.mean(brady['Age'])))
print('The median is ' + str(np.median(brady['Age'])))
print('The mode is ' + str(statistics.mode(brady['Age'])))
print('The variance is ' + str(np.var(brady.Age)))
print('The standard deviation is ' + str(np.std(brady['Age'])))
print ('The standard error is ' + str(np.std(brady['Age']) / np.sqrt(len(brady['Age']))))

The mean is 10.0
The median is 10.0
The mode is 8
The variance is 5.428571428571429
The standard deviation is 2.32992949004287
The standard error is 0.8806305718527109

Following Cindy's birthday, the mean, mode, variance, standard deviation, and standard error all changed. The median was the only valued that stayed the same.

In [34]:
brady.iat[6,0] = 'Jessica'
brady.iat[6,1] = 1
brady

      Name  Age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

In [37]:
print('The mean is ' + str(np.mean(brady['Age'])))
print('The median is ' + str(np.median(brady['Age'])))
print('The mode is N/A')
print('The variance is ' + str(np.var(brady.Age)))
print('The standard deviation is ' + str(np.std(brady['Age'])))
print ('The standard error is ' + str(np.std(brady['Age']) / np.sqrt(len(brady['Age']))))

The mean is 9.0
The median is 10.0
The mode is N/A
The variance is 15.428571428571429
The standard deviation is 3.927922024247863
The standard error is 1.4846149779161806

The presence of Jessica as an outlier would make me change my central tendency to the mode. Because we have lost some faith in our mean, I'd switch to standard deviation as a variance which might indicate a larger gap in age.

In [38]:
tv_viewers = pd.DataFrame()
tv_viewers['Magazine'] = ['TV Guide', 'Entertainment Weekly', 'Pop Culture Today', 'SciPhi Fanatic']
tv_viewers['Percentage'] = [0.20, 0.23, 0.17, 0.05]
tv_viewers

               Magazine  Percentage
0              TV Guide        0.20
1  Entertainment Weekly        0.23
2     Pop Culture Today        0.17
3        SciPhi Fanatic        0.05

Because SciPhi Fanatic sounds like a specialty magazine, I would take the mean of the first three magazines, which would equate to 0.20.